<ion-item lines='none'>
  <ion-label>{{ selectedCountry?.country }}</ion-label>
  <ion-button>view all details </ion-button>
</ion-item>

<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button tab="info">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Quick Info</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="stat">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Statistics</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="true">
  <ion-reorder>
    <app-case-box></app-case-box>
  </ion-reorder>
  <ion-reorder>
    <app-case-box></app-case-box>
  </ion-reorder>
  <ion-reorder>
    <app-case-box></app-case-box>
  </ion-reorder>
</ion-reorder-group>
