ion-menu-button {
  color: var(--ion-color-primary);
}

ion-content ion-toolbar {
  --background: transparent;
}

ion-footer {
  ion-avatar {
    --border-radius: 4px;
  }

  #info {
    ion-label {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h4 {
        font-weight: bold;
      }
    }
  }
}
