ion-menu-button {
	color: var(--ion-color-primary);
}

ion-content ion-toolbar {
	--background: transparent;
}

#info {
	ion-card {
		height: 150px;
		img {
			height: 100%;
			width: 100%;
		}
	}
	ion-label {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		h4 {
			font-weight: bold;
		}
	}
}

ion-footer {
	ion-avatar {
		--border-radius: 4px;
	}

	#info {
		ion-label {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			h4 {
				font-weight: bold;
			}
		}
	}
}

ion-grid {
	--ion-grid-padding: 0px;
	height: 100%;
	ion-row {
		height: 100%;
		ion-col {
			--ion-grid-column-padding: 0px;
			height: 100%;
		}
	}
}

ion-toolbar {
	--background: #09233e;
	--color: #ffffff;
}

app-color-code {
	width: 100%;
	display: flex;
	justify-content: center;
}

#country-menu {
	background: #f4f5f9;
	height: 100%;
}

#countries {
	overflow-y: scroll;
	height: 100%;
}
