<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-map (country)="selectCountry($event)"></app-map>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-padding-top">
    <ion-item lines='none'>
      <ion-avatar>
        <img [src]="selectedCountry?.countryInfo.flag" />
      </ion-avatar>
      <ion-title>
        <h2>{{selectedCountry?.country}}</h2>
      </ion-title>
    </ion-item>
  </ion-toolbar>
  <ion-toolbar id="info">
    <ion-item lines="none">
      <ion-label>
        <h3>
          Cases
        </h3>
        <h4>
          {{selectedCountry?.cases}}
        </h4>
      </ion-label>
      <ion-label>
        <h3>
          Active
        </h3>
        <h4>
          {{selectedCountry?.active}}
        </h4>
      </ion-label>
      <ion-label>
        <h3>
          Deaths
        </h3>
        <h4>
          {{selectedCountry?.deaths}}
        </h4>
      </ion-label>
      <ion-label>
        <h3>
          Recovered
        </h3>
        <h4>
          {{selectedCountry?.recovered}}
        </h4>
      </ion-label>
      <ion-label (click)="routeToDetails()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-footer>
