<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" menu="menu-content"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>

    <div [ngStyle]="{display: 'flex'}">
      <ion-title>Map {{ selectedCountry?.country }}</ion-title>
      <app-color-code [ngStyle]="{color: '#F4F5F9'}"></app-color-code>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size='3'>
        <div>
          <div class="expansion">
            <div (click)="expandItem(countries)">
              <ion-icon *ngIf="!countries.expanded" name="chevron-forward-outline"></ion-icon>
              <ion-icon *ngIf="countries.expanded" name="chevron-down-outline"></ion-icon>
              <ion-text color="primary">
                Countries
              </ion-text>
            </div>

            <div>

            </div>
          </div>
          <app-expandables expandHeight="500px" [expanded]="countries.expanded">
            <app-country-menu></app-country-menu>
          </app-expandables>
        </div>

        <div>
          <div class="expansion">
            <div (click)="expandItem(casePeek)">
              <ion-icon *ngIf="!casePeek.expanded" name="chevron-forward-outline"></ion-icon>
              <ion-icon *ngIf="casePeek.expanded" name="chevron-down-outline"></ion-icon>
              <ion-text color="primary">
                Cases Peek
              </ion-text>
            </div>

            <div>
              <span *ngIf="casePeek.expanded">view detailed report</span>
            </div>
          </div>
          <app-expandables expandHeight="200px" [expanded]="casePeek.expanded">
            <!-- <app-case-menu></app-case-menu> -->
            <router-outlet></router-outlet>
          </app-expandables>
        </div>
      </ion-col>
      <ion-col size=''>
        <app-map [countryId]="countryId" (country)="selectCountry($event)"></app-map>
      </ion-col>
      <!-- <ion-col size='2'>
        <div id="country-menu">
        </div>
      </ion-col> -->
    </ion-row>
  </ion-grid>

  <!-- <ion-grid>
    <ion-row>
      <ion-col size='12' size-md='8'>
        <app-map [countryId]="countryId" (country)="selectCountry($event)"></app-map>
      </ion-col>
      <ion-col size='4' class="ion-hide-md-down" id="info">
        <ion-list>
          <ion-card>
            <img [src]="selectedCountry?.countryInfo.flag" />
          </ion-card>
          <ion-list-header>
            <h2>{{selectedCountry?.country}}</h2>
            <ion-button>See All</ion-button>
          </ion-list-header>
          <ion-item>
              <p>
                Cases
              </p>
              <h5 slot="end">
                {{selectedCountry?.cases}}
              </h5>
          </ion-item>
          <ion-item>
              <p>
                Active
              </p>
              <h5 slot="end">
                {{selectedCountry?.active}}
              </h5>
          </ion-item>
          <ion-item>
              <p>
                Deaths
              </p>
              <h5 slot="end">
                {{selectedCountry?.deaths}}
              </h5>
          </ion-item>
          <ion-item>
              <p>
                Recovered
              </p>
              <h5 slot="end">
                {{selectedCountry?.recovered}}
              </h5>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>

<ion-footer class="ion-hide-md-up">
  <ion-toolbar class="ion-padding-top">
    <ion-item lines='none'>
      <ion-avatar>
        <img [src]="selectedCountry?.countryInfo.flag" />
      </ion-avatar>
      <ion-title>
        <h2>{{selectedCountry?.country}}</h2>
      </ion-title>
    </ion-item>
  </ion-toolbar>
  <ion-toolbar id="info">
    <ion-item lines="none">
      <ion-label>
        <h3>
          Cases
        </h3>
        <h4>
          {{selectedCountry?.cases}}
        </h4>
      </ion-label>
      <ion-label>
        <h3>
          Active
        </h3>
        <h4>
          {{selectedCountry?.active}}
        </h4>
      </ion-label>
      <ion-label>
        <h3>
          Deaths
        </h3>
        <h4>
          {{selectedCountry?.deaths}}
        </h4>
      </ion-label>
      <ion-label>
        <h3>
          Recovered
        </h3>
        <h4>
          {{selectedCountry?.recovered}}
        </h4>
      </ion-label>
      <ion-label (click)="routeToDetails()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-footer>