<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" menu="menu-content"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>

    <div [ngStyle]="{display: 'flex'}">
      <ion-title>Map</ion-title>
      <app-color-code class="ion-hide-md-down" [ngStyle]="{color: '#F4F5F9'}"></app-color-code>
    </div>
  </ion-toolbar>
  <ion-toolbar class="ion-hide-sm-up">
    <ion-searchbar placeholder="Search Countries" inputmode="search" type="search" [(ngModel)]="query">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col id="explorer" size='12' size-md="4" size-lg="3">
        <ion-router-outlet></ion-router-outlet>
      </ion-col>
      <ion-col id="map-container" size="12" size-md="8" size-lg="9">
        <div id="map"></div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-grid>
    <ion-row>
      <ion-col size='12' size-md='8'>
        <app-map [countryId]="countryId" (country)="selectCountry($event)"></app-map>
      </ion-col>
      <ion-col size='4' class="ion-hide-md-down" id="info">
        <ion-list>
          <ion-card>
            <img [src]="selectedCountry?.countryInfo.flag" />
          </ion-card>
          <ion-list-header>
            <h2>{{selectedCountry?.country}}</h2>
            <ion-button>See All</ion-button>
          </ion-list-header>
          <ion-item>
              <p>
                Cases
              </p>
              <h5 slot="end">
                {{selectedCountry?.cases}}
              </h5>
          </ion-item>
          <ion-item>
              <p>
                Active
              </p>
              <h5 slot="end">
                {{selectedCountry?.active}}
              </h5>
          </ion-item>
          <ion-item>
              <p>
                Deaths
              </p>
              <h5 slot="end">
                {{selectedCountry?.deaths}}
              </h5>
          </ion-item>
          <ion-item>
              <p>
                Recovered
              </p>
              <h5 slot="end">
                {{selectedCountry?.recovered}}
              </h5>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>