ion-content {
	--overflow: auto;
}

.expansion {
	padding: 5px 20px;
	background: rgb(37, 37, 54);
	color: white;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	div {
		width: 100%;
	}
	ion-icon {
		color: #a5a2a2;
	}
	ion-text {
		color: white;
	}
	span {
		color: #3880ff;
		display: none;
	}

	&:hover {
		span {
			display: block;
		}
	}
}

ion-card.country {
	--background: #f4f5f9;
	--color: #181a21;
	border: 1px solid black;
	border-radius: 0px;
	cursor: pointer;

	.end {
		margin: 0;
		font-size: 15px;
		color: #a1a1a1;
	}
}

ion-item.info {
	// --background: #4caf50;
	color: #020a22;
	width: 100%;
	z-index: 3;
	text-transform: capitalize;
	ion-avatar {
		height: 20px;
		width: 20px;
		margin-right: 5px;
		background-color: #795548;
	}
}
