<ion-content>
  <!-- Overview-->
  <div>
    <div class="expansion">
      <div (click)="expandItem(overview)">
        <ion-icon *ngIf="!overview.expanded" name="chevron-forward-outline"></ion-icon>
        <ion-icon *ngIf="overview.expanded" name="chevron-down-outline"></ion-icon>
        <ion-text color="primary">
          {{selectedCountry?.country}}
        </ion-text>
      </div>

      <!-- <div>
        <span *ngIf="overview.expanded">view detailed report</span>
      </div> -->
    </div>
    <app-expandables expandHeight="100%" [expanded]="overview.expanded">
      <!-- <app-case-menu></app-case-menu> -->
      <app-case-box *ngIf="selectedCountry" [country]="selectedCountry"></app-case-box>
    </app-expandables>
  </div>

  <!-- countries -->
  <div class="ion-hide-sm-down">
    <div class="expansion">
      <div (click)="expandItem(countries)">
        <ion-icon *ngIf="!countries.expanded" name="chevron-forward-outline"></ion-icon>
        <ion-icon *ngIf="countries.expanded" name="chevron-down-outline"></ion-icon>
        <ion-text color="primary">
          Browse
        </ion-text>
      </div>

      <div>

      </div>
    </div>
    <app-expandables expandHeight="100%" [expanded]="countries.expanded">
      <!-- <app-country-menu></app-country-menu> -->
      <ion-card (click)="flyTo(searchResults[0])" class="country">
        <ion-item lines='none'>
          <ion-label slot="start">Global</ion-label>
          <ion-label class="end">322209</ion-label>
        </ion-item>
      </ion-card>

      <ion-searchbar placeholder="Search Countries" inputmode="search" type="search" (ionChange)="onSearchInput()"
        [formControl]="searchQuery">
      </ion-searchbar>

      <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
      </div>

      <div id="results" *ngIf="!searching">
        <app-country-box (click)="flyTo(result)" [result]='result' *ngFor="let result of searchResults">
        </app-country-box>
        <div class="emptyResult" *ngIf="searchResults.length <= 0">
          Country does not exist or currently has no reported case of Covid19
        </div>
      </div>
    </app-expandables>
  </div>
</ion-content>