<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list>
          <ion-list-header>Covid-19 Trackr
            <ion-toggle></ion-toggle>
          </ion-list-header>
          <ion-note>azeezlukman95@gmail.com</ion-note>

          <ion-searchbar (click)="presentModal()" placeholder="Search Places"></ion-searchbar>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
              detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer>
        <ion-item class="ion-justify-content-center">
          <ion-fab-button class="ion-padding" *ngFor="let link of social">
            <ion-icon [name]="link"></ion-icon>
          </ion-fab-button>
        </ion-item>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>