<ion-app>
  <!-- <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list>
          <ion-list-header>Covid-19 Trackr
            <ion-toggle></ion-toggle>
          </ion-list-header>
          <ion-note>last updated on 4/6/2019</ion-note>
        </ion-list>

        <ion-card class="ion-margin-horizontal">
          <ion-card-header>
            <ion-icon name="expand-outline" class="ion-float-right"></ion-icon>
            <ion-card-subtitle>
              <h1>33,355</h1>
            </ion-card-subtitle>
            <ion-card-title>
              <ion-icon name="globe"></ion-icon>
              Global Cases
            </ion-card-title>
          </ion-card-header>
          <ion-item lines='none'>
            <ion-label>Active Cases</ion-label>
            <span slot="end">3346</span>
          </ion-item>
          <ion-item lines='none'>
            <ion-label>Recovered Cases</ion-label>
            <span slot="end">3346</span>
          </ion-item>
          <ion-item>
            <ion-label lines='none'>Death Cases</ion-label>
            <span slot="end">3346</span>
          </ion-item>

        </ion-card>

        <ion-item class="search">
          <ion-searchbar (ionChange)="onSearchChange($event)" placeholder="Search Places"></ion-searchbar>
        </ion-item>

        <ion-menu-toggle class="ion-margin-horizontal" auto-hide="false" *ngFor="let c of results">
          <ion-item (click)="setPlace()" [routerLink]="['map/'+c.country]" lines="none" detail="false"
            [class.selected]="countryId == c.country">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-avatar slot="start">
              <img [src]="c.countryInfo.flag">
            </ion-avatar>
            <ion-label>{{ c.country }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-content>
      <ion-footer>
        <ion-item class="ion-justify-content-center">
          <ion-fab-button class="ion-padding" *ngFor="let link of social">
            <ion-icon [name]="link"></ion-icon>
          </ion-fab-button>
        </ion-item>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane> -->

  <ion-menu contentId="menu-content" menuId="menu-content" side="start" type="overlay">
    <ion-content>
      <ion-list>
        <ion-list-header>Covid-19 Trackr
          <ion-toggle></ion-toggle>
        </ion-list-header>
        <ion-item>
          <ion-note>last updated on 4/6/2019</ion-note>
        </ion-item>
      </ion-list>

      <ion-list id="link">
        <ion-item *ngFor="let link of links" lines='none'>
          <ion-icon slot="start" name="link.icon"></ion-icon>
          <ion-label>{{link.name}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-app>